{% extends 'base.html' %}
{% block content %}

<div class="add-new-country">
    <p><a href="/countries/new">Add New Country</a></p>
</div>

<div class="countries">
{% for country in all_countries  %}
        <div class="content">
            <li><a href="/countries/{{country.id}}">{{ country.country_name }}</a></li>
            <li>Continent: {{ country.country_continent }}</li>
            <li>Population: {{ country.get_population() }}</li>
            <li>Language: {{ country.country_language }}</li>
        </div>
        {% endfor %}
    </div>

    
{% endblock  %}