{% extends 'base.html' %}
{% block content %}
<form action="/countries/{{country.id}}/create_city" method="POST">
    
    <div>
        <label for="city_name">City :</label>
        <input type="text" id="city_name" name="city_name" autofocus>
    </div>

    <button type="submit">Add City To {{country.country_name}}</button>

    <div>
        <label for="visited">Visited ?</label>
        <select name="visited" id="visited">
            <option value="true">Visited</option>
            <option value="false">Not Visited</option>
        </select>
      
    </div>

    

</form>
{% endblock %}