{% extends 'base.html' %}
{% block content %}

<div>
    <p><a href="/countries/{{country.id}}//edit"> Edit</a></p>
    <p>Country: {{ country.country_name }}</p>
    <hr> 
    <p>Continent: {{ country.country_continent }}</p>
    <p>Population: {{ country.get_population() }}</p>
    <p>Language: {{ country.country_language }}</p>
    <p>Cities: </p>

    {% for city in country_cities  %}
        <p>{{ city.city_name }}</p>

        <form action="/cities/{{city.id}}/delete" method="POST">
            <button type="submit">Delete City</button>
        </form>

    

        {% endfor %}
   
    <p><a href="/countries/{{country.id}}/new_city">Add City</a></p>

</div>
    
{% endblock  %}