{% extends 'base.html' %}
{% block content %}

<div>
    <div>
        <p><a class="link-style" href="/countries/{{country.id}}//edit"> Edit</a></p>
    <aside class="single-country">
        <p>Country: {{ country.country_name }}</p>
        
        <p>Continent: {{ country.country_continent }}</p>
        <p>Population: {{ country.get_population() }}</p>
        <p>Language: {{ country.country_language }}</p>
        <p>Cities: </p>
    </aside>
    </div>
    <div>
        {% for city in country_cities  %}
        <p class="city-name">{{ city.city_name }}</p>

        
        {% if city.visited  == True %}
        <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        {% endif %}    
        <div>
          <form class="visited-section" action="/cities/{{city.id}}" method="POST">
              <label for="visited">Visited:</label>
              <select name="visited" id="visited">

                  <option value="true"
                   {% if city.visited == True %} selected="selected" {% endif %}>
                      Visited
                  </option>
                     
                  <option value="false"
                  {% if city.visited == False %} selected="selected" {% endif %}>
                  Not Visited
              </option>
          </select>
              <button type="submit">Submit</button>
          </form>
      </div>
    </div>
    <div class="delete-btn">
        <form action="/cities/{{city.id}}/delete" method="POST">
            <button type="submit">Delete City</button>
        </form>
    </div>
    

        {% endfor %}
   
    <p><a class="link-style" href="/countries/{{country.id}}/new_city">Add City</a></p>

    

</div>
    
{% endblock  %}