{% extends 'base.html' %}
{% block content %}

<div>
    <p>Country: {{ country.country_name }}</p>
    <p><a href="/countries/{{country.id}}//edit">Edit</a></p>
    <hr>
    <p>Continent: {{ country.country_continent }}</p>
    <p>Population: {{ country.get_population() }}</p>
    <p>Language: {{ country.country_language }}</p>
    <p>Visited? </p>
    <p>Cities: </p>

    {% for city in country_cities  %}
        <p>{{ city.city_name }}</p>
    {% endfor %}
    <p><a href="/cities/new">Add City</a></p>
</div>
    
{% endblock  %}