{% extends 'base.html' %} {% block content %}
<section class="about_us">
  <h2>About Us</h2>
  <p>
    Formed in February 2023, we love to travel and we want to track where we
    have been! Now you can too!
  </p>
  <p>
    We invite you to explore the world with us and create unforgettable travel
    memories. Thank you for visiting our website and we hope you enjoy your
    journey!
  </p>

  <div class="img2">
    <img
      src="/static/images/about_2.avif"
      alt="scooter parked in colourful street"
    />
  </div>

  <!-- </section>
<div class="about-images">
    <div class="img1">
        <img src="/static/images/about_1.avif" alt="man mountain hiking">
    </div>
    <div class="img3">
        <img src="/static/images/about_3.avif" alt="skyline view from aeroplane window">
    </div>
</div> -->

  {% endblock %}
</section>
